<div class="grid-r">
  <div class="small-1">
    <div class="box">
      <div class="content-header">
        <h1>Bug List</h1>
        <div class="form-search">
          <%= form_for @task do |f| %>
            <button class='green'>
              <i class='fa fa-plus'></i>
            </button>
            <div>
              <%= f.text_field :title, placeholder: 'Create new task' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="content">
        <table class="table">
          <% @tasks.each do |task| %>
            <%= render 'list', task: task %>
          <% end %>
        </table>
      </div>
    </div>

    <div class="box">
      <div class="content-header">
        <h1>Completed</h1>
      </div>
      <div class="content">
        <table class="table">
          <% @tasks_done.each do |task| %>
            <%= render 'list', task: task %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


