# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7a50494dce5c03d669876cd513ba2616accc5f236288d68fb7a6156e5250af7d8930aa36af06d21d73c852b64612dd87e762d1c252fea72ec8570100ab70be10
  login_user: admin
  login_password: admin

test:
  secret_key_base: 6b1755384c4ee075c9191994e64eb74930601da3013e5cc7d277e35636c2f2f1f6b616871c7a33711665ef23179b31ed9ff0aea6e092d9767230f6ae8fbbecbb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
